<div className="footer text-left py-3"  [ngStyle]="{'backgroundColor' : 'black', position: 'static', height: '3em', alignItems: 'center'}">
    © 2013 - 2023 The OpenSky Network |
    <a href="https://opensky-network.org/index.php/about/terms-of-use">
      Terms of Use
    </a>
    |
    <a href="https://opensky-network.org/index.php/about/privacy-policy">
      Privacy Policy
    </a>
    | <a href="https://opensky-network.org/index.php/about/faq"> FAQ</a> |
    <a href="https://opensky-network.org/index.php/about/contact">Contact</a>
</div>