nav.navbar {
    background-color: var(--background-primary);
    // color: red;
}
ul {
    list-style-type: none;
    align-items: center;
  }
  .navbar {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  